@use 'global';

$size: 200px;

%card-width{
    min-width: 400px;
}

.deck-container{
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content:space-around;
}

.card {
    @extend %stand-shade;
    @extend %stand-box;
    @extend %card-width;

    display: flex;
    justify-content: space-around;
    align-items: center;

    background-image:linear-gradient(-75deg, global.$pallet-red 49.7%, global.$pallet-bg 50%, global.$pallet-green 50.3%);

    height: 25vh;
    min-height: 200px;

    background-color: global.$pallet-dark;

    margin: 16px;
    padding: 1rem;

    > h1{
        font-size: 2.5rem;
        text-shadow: 0px 0px 5px black;
    }
}

.start-button{
    background-color: global.$pallet-blue;
    border: none;
}

.start-button:hover{
    background-color: global.$pallet-blue-hov;
}

.proposal{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.loss-penalty{
    @extend %stand-box;
    @extend %stand-shade;
    @extend %card-width;

    display: flex;
    justify-content: center;

    background-color: global.$pallet-red;

    font-size: 1.5rem;
    text-shadow: 0px 0px 5px black;
}

button {
    @extend %stand-shade;
    @extend %stand-box;

    background-color: global.$pallet-dark;

    color: global.$pallet-silver;

    margin: 16px;
    padding: 1rem;

    > h1{
        font-size: 2.5rem;
        text-shadow: 0px 0px 5px black;
    }
}

@media only screen and (max-width: 768px){
    .deck-container{
        flex-direction: column;
    }

    .card{
        flex-direction: column;
        background-image: linear-gradient(165deg, global.$pallet-green 49.5%, black 50%, global.$pallet-red 0);
        > h1{
            margin: 8px;
        }
    }
}
