@use 'global';

%inner-card{
    width: 100%;
    height: 47%;

    color: global.$pallet-silver;
    text-align: center;
    font-size: 4rem;

    background-image: linear-gradient(-45deg, rgb(43, 43, 43), rgb(56, 56, 56));

    @extend %stand-box;
}

%flip-dimensions{
    $size: 100px;
    width: $size;
    height: $size * 2;
}

.flip-display{
    @extend %stand-shade;
    display: flex;
    flex-direction: row;
    @extend %stand-box;
    padding: 8px
}

.flip-container{
    @extend %flip-dimensions;
    margin: 3px;
}

.flipper {
    @extend %flip-dimensions;
    transform-style: preserve-3d;
    position: absolute;
}

.next-flip{
    position: absolute;
}

.flip-front, .flip-back {
    @extend %inner-card;
    position: absolute;
    backface-visibility: hidden;
}


.flip-back {
    @extend %inner-card;
    transform: rotateX(180deg);
}

.last-flip{
    @extend %inner-card;
}

.static-flipped-down{
    transform: rotateX(180deg);
}

@media only screen and (max-width: 768px){
    
    %flip-dimensions{
        $size: 65px;
        width: $size;
        height: $size * 2;
    }

    %inner-card{
        font-size: 2.6rem;
    }
}

@media only screen and (max-width: 500px){
    
    %flip-dimensions{
        $size: 50px;
        width: $size;
        height: $size * 2;
    }

    %inner-card{
        font-size: 2rem;
    }
}