@use 'global';

$flip-grad: linear-gradient(-45deg, rgb(39, 39, 39), rgb(71, 71, 71));

%inner-card{
    width: 100%;
    height: 50%;
    color: global.$pallet-text;
    text-align: center;
    font-size: 4rem;
}

.progress-bar {
    @extend %stand-shade;

    display: flex;
    flex-direction: column;

    margin: global.$standard-margin auto;
    
    background-color: global.$pallet-dark;
    border: 6px solid global.$pallet-silver;
    border-radius: 2px;
}

.flip-display{
    display: flex;
    flex-direction: row;
}

.flipper {
    transform-style: preserve-3d;
    width: 10vw;
    max-width: 128px;
    height: 20vh;
    margin: 2px;
}

.next-flip{
    position: absolute;
}

.flip-front, .flip-back {
    @extend %inner-card;
    position: absolute;
    backface-visibility: hidden;
    background-image: $flip-grad;
}


.flip-back {
    @extend %inner-card;
    transform: rotateX(180deg);
}

.flip-top{
    @extend %inner-card;
    background-image: $flip-grad;
}

.flip-bot{
    @extend %inner-card;
    background-image: $flip-grad;
}