@use 'global';

%inner-card{
    position: absolute;
    backface-visibility: hidden;
}

.progress-bar {
    @extend %stand-shade;

    display: flex;
    flex-direction: column;

    margin: global.$standard-margin auto;
    
    width: 75vw;
    min-width: 400px;
    max-width: 700px;
    background-color: global.$pallet-dark;
    border: 6px solid global.$pallet-silver;
    border-radius: 2px;
}

.flip-display{
    display: flex;
    flex-direction: row;
    height: 200px;
    > div{
        margin: 4px;
        width: 100%;
        > div{
            width: 100%;
            height: 50%;
            background-color: global.$pallet-xdark;
            color: global.$pallet-text;
            font-size: 4rem;
            text-align: center;
        }
    }
}

.flipper {
    transform-style: preserve-3d;
}

.flip-front, .flip-back {
    @extend %stand-shade;
    @extend %inner-card;
}

.flip-back {
    transform: rotateX(180deg);
}