@use 'global';

$size: 150px;

.timer{
    position: absolute;
    top: -105px;
    left: -30px;
    width: $size;
    height: $size;
    margin: 0;
}
.timer-dial{
    transform: rotateZ(270deg);
    width: 100%;
    height: 100%;
}

.dial{
    stroke-dasharray: 113px;
    stroke-width: 30px;
    stroke: global.$pallet-yellow;
    fill: none;
}

@media only screen and (max-height: 1000px){
    .timer{
        top: -$size/4;
        left: -$size/4;
        width: $size/2;
        height: $size/2;
    }
}

@media only screen and (max-height: 850px){
    .timer{
        top: 0;
    }
}

@media only screen and (max-width: 768px){
    .timer{
        top: 0;
        left: 0;
        width: $size/2;
        height: $size/2;
    }
}