@use 'progress-bar';
@use 'deck';
@use 'timer';

.App{
    outline: 2px dashed green;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

/*
command to watch Sass files:
sass --watch Sass:Css
*/