@use 'global';
@use 'progress-bar';
@use 'deck';
@use 'timer';

body {
    background-color: rgb(29, 32, 41);
}

.App{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

/*
command to watch Sass files:
cd src
sass --watch Sass:Css
*/