.controls, .caps, .loss-penalty, button, .flip-display {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.75);
}

.instruct, .controls, .loss-penalty, .flip-display, .flip-front, .flip-back, .last-flip {
  background-color: #787479;
  border-radius: 2rem;
  color: #E2DCDE;
}

.last-flip, .flip-front, .flip-back {
  width: 100%;
  height: 47%;
  color: #E2DCDE;
  text-align: center;
  font-size: 4rem;
  background-image: linear-gradient(-45deg, rgb(43, 43, 43), rgb(56, 56, 56));
}

.flipper, .flip-container {
  width: 75px;
  height: 206.25px;
}

.flip-display {
  border: none;
  display: flex;
  flex-direction: row;
  padding: 8px;
  font-size: 4.4rem;
}
.flip-display > p {
  margin: 0;
  height: 50%;
}
.flip-display > .comma {
  margin-top: 24px;
}

.flip-container {
  margin: 3px;
}

.flipper {
  transform-style: preserve-3d;
  position: absolute;
}

.next-flip {
  position: absolute;
}

.flip-front, .flip-back {
  position: absolute;
  backface-visibility: hidden;
}

.flip-back {
  transform: rotateX(180deg);
}

.static-flipped-down {
  transform: rotateX(180deg);
}

@media only screen and (max-width: 768px) {
  .flip-container, .flipper {
    width: 45px;
    height: 123.75px;
  }
  .flip-front, .flip-back, .last-flip {
    font-size: 2.75rem;
  }
  .flip-display {
    font-size: 2.8rem;
  }
  .flip-display > .comma {
    margin-top: 14px;
  }
}
.loss-penalty, .card {
  width: 25vw;
  min-width: 400px;
  max-width: 900px;
}

.deck-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 auto;
}

.card {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-image: linear-gradient(-75deg, #FF4242 49.7%, #2c2a2c 50%, #2DD881 50.3%);
  height: 25vh;
  min-height: 200px;
  border-radius: 2rem;
}

.start-button {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: #3172ff;
}

.start-button:hover {
  background-color: #4680ff;
}

.proposal {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loss-penalty {
  display: flex;
  justify-content: center;
  background-color: #FF4242;
  font-size: 1.5rem;
}

button {
  background-color: #474448;
  border: none;
  border-radius: 5px;
  color: #E2DCDE;
  margin: 16px;
}
button > h1 {
  font-size: 2.5rem;
}

@media only screen and (max-width: 768px) {
  .deck-container {
    flex-direction: column;
  }
  .card {
    flex-direction: column;
    background-image: linear-gradient(165deg, #2DD881 49.5%, black 50%, #FF4242 0);
  }
  .card > h1 {
    margin: 8px;
  }
}
.timer {
  position: absolute;
  top: -105px;
  left: -30px;
  width: 150px;
  height: 150px;
  margin: 0;
}

.timer-dial {
  transform: rotateZ(270deg);
  width: 100%;
  height: 100%;
}

.dial {
  stroke-dasharray: 113px;
  stroke-width: 30px;
  stroke: #F1D302;
  fill: none;
}

@media only screen and (max-height: 1000px) {
  .timer {
    top: -37.5px;
    left: -37.5px;
    width: 75px;
    height: 75px;
  }
}
@media only screen and (max-height: 850px) {
  .timer {
    top: 0;
  }
}
@media only screen and (max-width: 768px) {
  .timer {
    top: 0;
    left: 0;
    width: 75px;
    height: 75px;
  }
}
* {
  font-family: "Space Mono", monospace;
}

body {
  background-color: #2c2a2c;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
}

.instruct {
  padding: 8px;
  margin: 0 24px;
  max-width: 300px;
}

.controls {
  position: relative;
  margin: 4px;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  border: none;
}

.caps {
  display: flex;
  justify-content: center;
  width: 100%;
  min-height: 64px;
  background-color: #F1D302;
}

.cap-text {
  color: #474448;
  font-style: italic;
  text-align: center;
  border: 2px solid #474448;
  border-radius: 2rem;
  margin: 8px;
  padding: 8px 128px;
}

/*
command to watch Sass files:
cd src
sass --watch Sass:Css
*/

/*# sourceMappingURL=Sass.css.map */
