.controls, .caps, .card, .loss-penalty, button, .flip-display, .flip-front, .flip-back {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.75);
}

.controls, .card, .loss-penalty, button, .flip-display, .flip-front, .flip-back, .last-flip {
  background-color: #787479;
  border-radius: 2rem;
  color: #E2DCDE;
}

.last-flip, .flip-front, .flip-back {
  width: 100%;
  height: 47%;
  color: #E2DCDE;
  text-align: center;
  font-size: 4rem;
  background-image: linear-gradient(-45deg, rgb(43, 43, 43), rgb(60, 60, 60));
}

.flipper, .flip-container {
  width: 75px;
  height: 206.25px;
}

.flip-display {
  border: none;
  display: flex;
  flex-direction: row;
  padding: 8px;
  font-size: 4.4rem;
}
.flip-display > p {
  margin: 0;
  height: 50%;
  text-shadow: 0px 0px 5px black;
}
.flip-display > .comma {
  margin-top: 24px;
}

.flip-container {
  margin: 3px;
}

.flipper {
  transform-style: preserve-3d;
  position: absolute;
}

.next-flip {
  position: absolute;
}

.flip-front, .flip-back {
  position: absolute;
  backface-visibility: hidden;
}

.flip-back {
  transform: rotateX(180deg);
}

.static-flipped-down {
  transform: rotateX(180deg);
}

@media only screen and (max-width: 768px) {
  .flip-container, .flipper {
    width: 45px;
    height: 123.75px;
  }
  .flip-front, .flip-back, .last-flip {
    font-size: 2.75rem;
  }
  .flip-display {
    font-size: 2.8rem;
  }
  .flip-display > .comma {
    margin-top: 14px;
  }
}
.loss-penalty, .card {
  min-width: 400px;
}

.deck-container {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-around;
}

.card {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-image: linear-gradient(-75deg, #FF4242 49.7%, #2c2a2c 50%, #2DD881 50.3%);
  height: 25vh;
  min-height: 200px;
  background-color: rgba(71, 68, 72, 0.9333333333);
  margin: 16px;
  padding: 1rem;
}
.card > h1 {
  font-size: 2.5rem;
  text-shadow: 0px 0px 5px black;
}

.start-button {
  background-color: #3172ff;
  border: none;
}

.start-button:hover {
  background-color: #4680ff;
}

.proposal {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loss-penalty {
  display: flex;
  justify-content: center;
  background-color: #FF4242;
  font-size: 1.5rem;
  text-shadow: 0px 0px 5px black;
}

button {
  background-color: rgba(71, 68, 72, 0.9333333333);
  color: #E2DCDE;
  margin: 16px;
  padding: 1rem;
}
button > h1 {
  font-size: 2.5rem;
  text-shadow: 0px 0px 5px black;
}

@media only screen and (max-width: 768px) {
  .deck-container {
    flex-direction: column;
  }
  .card {
    flex-direction: column;
    background-image: linear-gradient(165deg, #2DD881 49.5%, black 50%, #FF4242 0);
  }
  .card > h1 {
    margin: 8px;
  }
}
.timer {
  position: absolute;
  top: -105px;
  left: -30px;
  width: 150px;
  height: 150px;
  margin: 0;
}

.timer-dial {
  transform: rotateZ(270deg);
  width: 100%;
  height: 100%;
  filter: drop-shadow(0px 0px 2.5px rgba(0, 0, 0, 0.75));
}

.dial {
  stroke-dasharray: 113px;
  stroke-width: 30px;
  stroke: #F1D302;
  fill: none;
}

@media only screen and (max-width: 768px) {
  .timer {
    top: -50px;
    left: -25px;
    width: 75px;
    height: 75px;
  }
}
* {
  font-family: "Space Mono", monospace;
}

body {
  background-color: #2c2a2c;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.instruct {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #E2DCDE;
  text-align: center;
  height: 50vh;
  min-height: 450px;
  margin: 32px;
}
.instruct > p {
  width: 50%;
}

.controls {
  position: relative;
  margin: 0 0 64px 0;
  border: none;
}

.caps {
  display: flex;
  justify-content: center;
  width: 100%;
  min-height: fit-content;
  background-color: #F1D302;
}

.cap-text {
  color: rgba(71, 68, 72, 0.9333333333);
  font-style: italic;
  text-align: center;
  border: 2px solid rgba(71, 68, 72, 0.9333333333);
  border-radius: 2rem;
  min-height: fit-content;
  margin: 8px;
  padding: 8px 128px;
}

.cap-empty {
  color: rgba(71, 68, 72, 0.9333333333);
  margin: 2rem;
}

/*
command to watch Sass files:
cd src
sass --watch Sass:Css
*/

/*# sourceMappingURL=Sass.css.map */
